* {
    box-sizing: border-box;
    margin:0;
}

body{
    margin: 0;
    font-family: Open Sans, Arial;
    color:#454545;
    font-size:16px;
    background-color:#F7F7EF
}


#title-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

#title-image {
    width: 50%;
}

main {
  display: flex;
  flex-wrap: wrap;   
  gap: 16px;         
  justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

/* Cambiar color de los links por algo mas lindo */
a {
  color:#07a
}
a:visited {
  color:#941352
}

.card {
  width: 200px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.skinrender {
    height: 60%;
}

footer {
    margin-top:4em;
    text-align: center;
    justify-content: center;
    /* display: flex; */
    /* align-items: flex-start; */
}

.footer-heading {
    margin-bottom: 1em
}

.footer-flex-container {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
}

.footer-entry {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
}

.footer-link {
    margin-bottom: 1.5em;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

#footer-img {
    height: 2em;
    vertical-align: middle;
}

/*header*/

header{
    background-color: beige;
}

.contenido-superior{
    display: flex;
    gap: 50px;
}

.informacion {
    border: 1px solid black;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion img {
    height: 100%;
}

.estadisticas {
    border: 1px solid black;
}



































